%h2 Satellite #{@satellite.name}
%hr
.well
  %legend Satellite information
  %dl.dl.dl-horizontal
    %p
      %dt Name
      %dd #{@satellite.name}
    %p
      %dt Type
      %dd #{@satellite.class.name}
    %p
      %dt Cospas Sarsat Id.
      %dd #{@satellite.cospas_sarsat_id || "Undefined"}
    %p
      %dt NORAD Id.
      %dd #{@satellite.norad_id}
    = render "show_#{@satellite.constellation.downcase}"
%a.btn.btn-primary{"href" => edit_satellite_path(@satellite)} Edit

