%h1 NAGU Creation
%hr

  = form_for @nagu, url: {action: 'create'}, html: {class: 'form-horizontal', role: 'form'} do |f|
    .well
      %fieldset 
        %legend Enter NAGU input parameters
      .form-group
        %label.col-lg-2.control-label{for: 'nagu_sat_id'} Sat ID
        .col-lg-4
          = f.number_field :sat_id, class: 'form-control'
          %span.help-block Enter a Cospas/Sarsat satellite Id. 
      .form-group
        %label.col-lg-2.control-label{for: 'nagu_unavailability_start_date'} Unavailability start date
        .col-lg-4
          = datetime_select :nagu, :unavailability_start_date, class: 'form-control', start_year: Date.today.year
      .form-group
        %label.col-lg-2.control-label{for: 'nagu_unavailability_end_date'} Unavailability end date
        .col-lg-4
          = datetime_select :nagu, :unavailability_end_date, class: 'form-control', start_year: Date.today.year, default: 2.days.from_now
    = f.submit 'Create', class: 'btn btn-primary'
